body { 
  background: url(../images/hello_world.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#lower-third {
  margin-top: 450px;
}